<h1><span class="texto-borde"> Sitios de interés </span></h1>
<div class="container">
  <div class="box">
    <h2>CIBpsi</h2>
    <a href="https://cibpsi.psico.edu.uy/" target="_blank"
      ><img
        class="insti"
        src="/assets/CIBPSI logo.png"
        width="200"
        alt="CIBPsi"
    /></a>
  </div>

  <div class="box">
    <h2>
      Grounded Cognition <br />
      Lab-UGR
    </h2>
    <a href="https://groundedcognitionlab.weebly.com/" target="_blank"
      ><img
        class="insti"
        src="/assets/GRANA.png"
        width="200"
        alt="Grounded Cognition Lab"
    /></a>
  </div>

  <div class="box">
    <h2>IPSIBAT</h2>
    <a href="http://labpsi.mdp.edu.ar/" target="_blank"
      ><img class="insti" src="/assets/IPSIBAT.jpeg" width="200" alt="IPSIBAT"
    /></a>
  </div>

  <div class="box">
    <h2>
      Departamento de<br />
      Linguistica de la UNM
    </h2>
    <a href="https://ling.unm.edu/" target="_blank"
      ><img class="insti" src="/assets/UNM.png" width="200" alt=""
    /></a>
  </div>

  <div class="box">
    <h2>Ciencia Cognitiva</h2>
    <a href="http://www.cienciacognitiva.org/" target="_blank"
      ><img class="insti" src="/assets/CC.png" width="200" alt=""
    /></a>
  </div>
</div>