<h1><span class="texto-borde"> Sitios de interés </span></h1>
<div class="container">
  <div class="box">
    <h2>CIBpsi</h2>
    <a href="https://cibpsi.psico.edu.uy/" target="_blank"
      ><img
        class="insti"
        src="/assets/CIBPSI logo.png"
        width="200"
        alt="CIBPsi"
    /></a>
  </div>

  <div class="box">
    <h2>
      Grounded Cognition <br />
      Lab-UGR
    </h2>
    <a href="https://groundedcognitionlab.weebly.com/" target="_blank"
      ><img
        class="insti"
        src="/assets/GRANA.png"
        width="200"
        alt="Grounded Cognition Lab"
    /></a>
  </div>

  <div class="box">
    <h2>IPSIBAT</h2>
    <a href="http://labpsi.mdp.edu.ar/" target="_blank"
      ><img class="insti" src="/assets/IPSIBAT.jpeg" width="200" alt="IPSIBAT"
    /></a>
  </div>

  <div class="box">
    <h2>
      Departamento de<br />
      Linguistica de la UNM
    </h2>
    <a href="https://ling.unm.edu/" target="_blank"
      ><img class="insti" src="/assets/UNM.png" width="200" alt=""
    /></a>
  </div>

  <div class="box">
    <h2>Ciencia Cognitiva</h2>
    <a href="http://www.cienciacognitiva.org/" target="_blank"
      ><img class="insti" src="/assets/CC.png" width="200" alt=""
    /></a>
  </div>

</div>
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
  <!-- Footer -->
  <footer
    class="text-center text-lg-start text-white"
    style="background-color: #45526e"
  >
    <!-- Section: Links -->
    <section class="Fut">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Labpexcenur</h6>
          <p>
            <b>Laboratorio de Psicologia Experimental</b> <br />Universidad de
            la República del Uruguay <br />Centro Universitario Regional Litoral
            Norte Salto
          </p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
          <p>
            <i class="fa fa-home mr-3"></i> Gral. Rivera 1350,<br />
            Salto, <br />50000, UY
          </p>
          <p><i class="fa fa-envelope mr-3"></i> labpexcenur@gmail.com</p>
          <p
            class="btn btn-outline-light btn-floating m-1"
            class="text-black"
            role="button"
          >
            <i
              class="fa fa-instagram"
              href="https://www.instagram.com/labpexcenur/"
            >
              Instagram</i
            >
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!--Grid row-->
    </section>

    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
