<h1><span class="texto-borde"> Equipos </span></h1>

<div class="container">
  <div class="box">
    <h2>​Cabina DEMVOX Modelo ECO300</h2>
    <p>
      Este espacio garantiza condiciones de aislamiento de los sujetos
      experimentales que impiden que elementos y eventos contrarios al set
      experimental -donde se manipulan las variables de cada estudio- puedan
      afectar el levantamiento de datos.
    </p>
    <div class="d-flex justify-content-center">
      <img src="/assets/DEM.jpeg" width="50%" />
      <img src="/assets/VOX.jpg" width="50%" />
    </div>
  </div>

  <div class="box">
    <h2>Stimulus Presentation Foundation System</h2>
    <p>
      Este equipo permite conducir un rango amplio de estudios con estímulos
      visualmente presentados y demandar respuestas psicofisiológicas. Permitirá
      adicionar medidas de este corte a las medidas de precisión y tiempo de
      reacción a registrar con los otros equipos.
    </p>
    <div class="d-flex justify-content-center">
      <img src="/assets/PL.jpg" width="50%" />
      <img src="/assets/CEDRUS.jpg" width="50%" />
    </div>
  </div>

  <div class="box">
    <h2>​Bundle E-Prime 2.0 Professional + Chronos w/Dual Foot Pedal</h2>
    <p>
      Este equipo, con sus componentes periféricos, es una herramienta de uso
      muy extendido en la investigación experimental de Psicología. Nos permite
      obtener medidas clásicas como el tiempo de reacción y la precisión en
      diversas de tareas. Tiene además una interfaz y un ambiente amigable para
      estudiantes y profesores que no cuentan con fuerte formación informática.
    </p>
    <div class="d-flex justify-content-center">
      <img src="/assets/chronos_image.png" width="50%" />
      <img src="/assets/CDF.jpg" width="50%" />
    </div>
  </div>

  <div class="box">
    <h2>Estación 1</h2>
    <p>
      Torre Intel Core i5-6600K/Z170A/16GB/1060/1TB+SSD120 (tarjeta de video:
      EVGA GTX1060) y doble monitor (LED AOC E2070SWN 20"). Esta estación,
      externa a la cabina insonorizada, nos permite programar tareas
      experimentales, almacenar y analizar datos.
    </p>
    <div class="d-flex justify-content-center">
      <img src="/assets/EST1.1.jpg" width="50%" />
    </div>
  </div>

  <div class="box">
    <h2>Estación 2</h2>
    <p>
      Torre: Intel Core i5-6400/MSI H110/SSD120/4GB (DDR4Kingston, SSD KINGSTON
      120GB ) con monitor CTR 20". Esta estación, interna a la cabina
      insonorizada, nos permite correr las tareas experimentales y levantar
      datos a través de ellas.
    </p>
    <div class="d-flex justify-content-center">
      <img src="/assets/Est2.jpg" width="50%" />
    </div>
  </div>

  <div class="box">
    <h2>Software</h2>
    <p>
      El Labpex cuenta con una alta gama de software's para programar
      experimentos y analizar datos:<b> Psychopy, Praat, SPSS</b>, entre otros.
    </p>
    <div class="d-flex justify-content-center width=100%">
      <img src="/assets/soft.jpg" width="50%" />
    </div>
  </div>
</div>

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
  <!-- Footer -->
  <footer
    class="text-center text-lg-start text-white"
  >
    <!-- Section: Links -->
    <section class="Fut">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Labpexcenur</h6>
          <p>
            <b>Laboratorio de Psicologia Experimental</b> <br />Universidad de
            la República del Uruguay <br />Centro Universitario Regional Litoral
            Norte Salto
          </p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
          <p>
            <i class="fa fa-home mr-3"></i> Gral. Rivera 1350,<br />
            Salto, <br />50000, UY
          </p>
          <p><i class="fa fa-envelope mr-3"></i> labpexcenur@gmail.com</p>
          <p
            class="btn btn-outline-light btn-floating m-1"
            class="text-black"
            role="button"
          >
            <a
              class="fa fa-instagram"
              href="https://www.instagram.com/labpexcenur/"
            >
              Instagram</a
            >
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!--Grid row-->
    </section>

    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
