<h1><span class="texto-borde"> ¿Cómo participar? </span></h1>

<div class="container">
  <div class="boxIn">
    <form
      action="https://docs.google.com/forms/u/3/d/e/1FAIpQLSd0b5MpE30jYZ08XoqInrm97VPZ42t16YCoU5b2lOrO6vxxoQ/formResponse"
    >
      <!-- Name input -->
      <div>
        <input
          type="text"
          id="form4Example1"
          name="entry.1585222818"
          class="form-control"
          placeholder="Nombre"
        />
        <label class="form-label" for="form4Example1"></label>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input
          type="email"
          id="form4Example2"
          name="entry.1392429443"
          class="form-control"
          placeholder="Email"
          required
        />
        <label class="form-label" for="form4Example2"></label>
      </div>

      <!-- Message input -->
      <div class="form-outline mb-4">
        <textarea
          class="form-control"
          id="form4Example3"
          name="entry.2094607328"
          rows="4"
          placeholder="Mensaje"
        ></textarea>
        <label class="form-label" for="form4Example3"></label>
      </div>

      <!-- Checkbox -->
      <div class="form-check d-flex justify-content-center mb-4">
        <input
          class="form-check-input me-2"
          type="checkbox"
          value=""
          id="form4Example4"
          checked
        />
        <label class="form-check-label" for="form4Example4">
          Send me a copy of this message
        </label>
      </div>

      <!-- Submit button -->
      <button
        type="submit"
        class="btn btn-primary btn-block mb-4"
        target="_blank"
      >
        Enviar
      </button>
    </form>
  </div>
  <div class="box">
    <h2><b> ¿Cómo llegar? </b></h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2025.1233092114594!2d-57.95943170259371!3d-31.39103393055695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95addcd6fac77777%3A0xee093d61a3428b63!2sCentro%20Universitario%20Regional%20Litoral%20Norte%20Salto%20%7C%20Universidad%20de%20la%20Rep%C3%BAblica!5e0!3m2!1ses!2suy!4v1600196648600!5m2!1ses!2suy"
      width="95%"
      height="300"
      frameborder="0"
      style="border: 0"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    ></iframe>
  </div>
</div>
<!-- End of .container -->
