<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
    <!-- Footer -->
    <footer
      class="text-center text-lg-start text-white"
   >
      <!-- Section: Links -->
      <section class="Fut">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Labpexcenur</h6>
            <p>
              <b>Laboratorio de Psicologia Experimental</b> <br />Universidad de
              la República del Uruguay <br />Centro Universitario Regional Litoral
              Norte Salto
            </p>
          </div>
          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
            <p>
              <i class="fa fa-home mr-3"></i> Gral. Rivera 1350,<br />
              Salto, <br />50000, UY
            </p>
            <p><i class="fa fa-envelope mr-3"></i> labpexcenur@gmail.com</p>
            <p
              class="btn btn-outline-light btn-floating m-1"
              class="text-black"
              role="button"
            >
              <a
                class="fa fa-instagram"
                href="https://www.instagram.com/labpexcenur/"
                target="blank_"
              >
                Instagram</a
              >
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
  
      <!-- Grid container -->
    </footer>
    <!-- Footer -->