<h1><span class="texto-borde"> Experimentos activos </span></h1>
<div class="container">
  <div class="box">
    <h2>Modulación de la coherencia motora por los adverbios temporales</h2>
    <img src="/assets/ModMot.png" width="50%"/>
    <p>
      La intención de este estudio es identificar los efectos de los
      significados temporales en la actividad motora de los individuos. <br />
      Esta investigación trata de contestar cuáles pueden ser los alcances de la
      simulación mental de la actividad motora y la experiencia temporal (esta
      última como parte del contexto de la actividad cognitiva) en la
      comprensión del significado de frases.<br />
      De este modo, se busca responder si la simulación mental ofrece una
      alternativa para entender la manera en que procesamos el significado.
      <br>
      <br>
      Para participar, <b>agende su visita al laboratorio:</b>
      <br>
      <a class="btn btn-info" routerLink="/como-part"><b>agendar</b></a>
    </p>
    <br>
  </div>
  <div class="box"> 
    <h2>Norma de ejes y dirección de movimientos para 180 verbos en español rioplatense</h2>
    <p>Ayúdanos a entender la naturaleza de las representaciones cognitivas. 
      <br>
      La teoría de la cognición corpórea, sostiene que la simulación mental constituye una estrategia cotidiana en el funcionamiento de la mente humana, esto quiere decir que la información perceptual está implicada en el significado de las palabras. El objetivo de este estudio es establecer un gran conjunto de verbos con propiedades semánticas consistentes, que sirvan para explorar la interacción entre el significado de las palabras que refieren a movimientos y la percepción. 
      <br>
      <br>
      Seguí el enlace para realizar el experimento: <br><a class="btn btn-info" href="https://metaforatemporalls.wixsite.com/pagina/experimentos-online-1"> <b>participar</b></a>
      <br>
      <br>
      Para participar en este estudio es necesario que seas hablante nativo rioplatense, tengas más de 18 años.
      La tarea te llevará 20 minutos, en ella deberás categorizar oraciones y la podés realizar desde cualquier dispositivo, aunque para una mejor experiencia te recomendamos usar computadora o tablet. 
      Te pedimos que prestes mucha atención a las instrucciones y que la hagas en un lugar tranquilo. 
      Puedes hacer todas las listas que quieras. </p>
  </div>
</div>
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
  <!-- Footer -->
  <footer
    class="text-center text-lg-start text-white"
  >
    <!-- Section: Links -->
    <section class="Fut">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Labpexcenur</h6>
          <p>
            <b>Laboratorio de Psicologia Experimental</b> <br />Universidad de
            la República del Uruguay <br />Centro Universitario Regional Litoral
            Norte Salto
          </p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
          <p>
            <i class="fa fa-home mr-3"></i> Gral. Rivera 1350,<br />
            Salto, <br />50000, UY
          </p>
          <p><i class="fa fa-envelope mr-3"></i> labpexcenur@gmail.com</p>
          <p
            class="btn btn-outline-light btn-floating m-1"
            class="text-black"
            role="button"
          >
            <a
              class="fa fa-instagram"
              href="https://www.instagram.com/labpexcenur/"
            >
              Instagram</a
            >
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!--Grid row-->
    </section>

    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
