<h1>
  <span class="texto-borde"> Laboratorio de Psicología Experimental </span>
</h1>

<div class="container">
  <div class="box">
    <h2>¿De dónde sale?</h2>
    <p>
      El Laboratorio de Psicología Experimental (Labpex) del CENUR sede Salto se
      creó en marzo de 2018, a partir del financiamiento, obtenido en la
      convocatoria 2018, del Programa de Equipamiento de la Comisión Sectorial
      de Investigación Científica (<a href="https://www.csic.edu.uy/">CSIC</a>)
      de la Universidad de la República (UdelaR).
    </p>
  </div>

  <div class="box">
    <h2>¿Qué es?</h2>
    <p>
      El Labpex se define como el espacio académico dedicado a la investigación
      y la enseñanza en investigación de los procesos cognitivos que sustentan
      la conducta humana a cargo de los docentes investigadores en cognición y
      metodología de la Facultad de Psicología sede Salto.
    </p>
  </div>

  <div class="box">
    <h2>Cometidos</h2>
    <ul>
      <li>
        Producir conocimiento científico sobre los procesos cognitivos y la
        conducta humana, en el ánimo de albergar estudios experimentales y
        cuasi-experimentales desde distintas tradiciones teóricas que los
        explican.
      </li>
      <li>
        Desarrollar una investigación que permita a las distintas especialidades
        de la Psicología, particularmente las profesionalizantes, fundamentar
        sus proposiciones, axiomas, procedimientos, técnicas y modos de
        intervención en un conocimiento actualizado de los procesos cognitivos.
      </li>
      <li>
        Fomentar y albergar proyectos interdisciplinarios entre los servicios de
        la RN y de otras sedes de la UdelaR que involucren a los procesos
        cognitivos como variable principal o como una de las variables en el
        estudio de la conducta humana.
      </li>
      <li>
        Promover la participación de los investigadores de los distintos
        servicios de la RN en la dirección académica del laboratorio y de estos
        y de los estudiantes de grado y posgrado en proyectos de investigación
        dedicados al estudio de los procesos cognitivos y de la conducta humana.
      </li>
      <li>
        Promover la participación de los estudiantes de grado y posgrado de la
        RN sede Salto en proyectos de investigación como estrategia de enseñanza
        en investigación.
      </li>
      <li>
        Promover la colaboración en investigación y enseñanza de la misma con
        los centros de investigación de la Facultad de la Psicología de la
        UdelaR en cualquiera de sus sedes.
      </li>
    </ul>
  </div>
</div>
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
  <!-- Footer -->
  <footer
    class="text-center text-lg-start text-white"
  >
    <!-- Section: Links -->
    <section class="Fut">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Labpexcenur</h6>
          <p>
            <b>Laboratorio de Psicologia Experimental</b> <br>Universidad de la República
            del Uruguay <br>Centro Universitario Regional Litoral Norte Salto
          </p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
          <p>
            <i class="fa fa-home mr-3"></i> Gral. Rivera 1350,<br />
            Salto, <br />50000, UY
          </p>
          <p><i class="fa fa-envelope mr-3"></i> labpexcenur@gmail.com</p>
          <p
            class="btn btn-outline-light btn-floating m-1"
            class="text-black"
            role="button"
          >
            <a
              class="fa fa-instagram"
              href="https://www.instagram.com/labpexcenur/"
            >
              Instagram</a
            >
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!--Grid row-->
    </section>

    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
